---
import LayoutBlog from "../../layouts/LayoutBlog.astro";
import Hero from "../../components/sections/Hero.astro";

const message = {
  firstMessage: "Bienvenid@ a nuestro blog!",
  secondMessage: "Volvés a nuestro blog, revisa nuestras novedades!",
};

const rawPosts = await Promise.all(
  Object.values(import.meta.glob("../content/*.md", { eager: true }))
);

const posts = rawPosts.map((post: any) => ({
  title: post.frontmatter.title,
  url: post.url,
}));

const allPosts = [...rawPosts].sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.pubDate).getTime() -
    new Date(a.frontmatter.pubDate).getTime()
);
---

<LayoutBlog>
  <main role="main">
    <Hero
      title="Bienvenidos a "
      span="Nuestro Blog"
      description="Aqui vas a encontrar diversos articulos que te ayudaran a entender que es lo que necesita tu negocio para crecer"
      url="#articles"
      cta="Explora nuestros articulos"
      bgImage="/backgrounds/bg-galaxy.webp"
      message={message}
    />
    <div
      id="articles"
      class="grid grid-cols-1 sm:grid-cols-2 mt-20 h-auto lg:grid-cols-3 gap-6 w-full max-w-full px-5 py-20"
    >
      {
        allPosts.map((post: any) => (
          <article class="bg-neutral-800 hover:bg-neutral-700 rounded-2xl w-100 overflow-hidden shadow-lg transition flex flex-col mx-2">
            <div class="p-3 flex flex-col gap-2">
              <h2 class="text-2xl font-bold text-white">
                <a href={post.url} class="hover:underline">
                  {post.frontmatter.title}
                </a>
              </h2>
              <div class="flex flex-wrap gap-3 items-center text-sm text-gray-400">
                📅 {post.frontmatter.pubDate}
                {post.frontmatter.tags.map((tag: any) => (
                  <a
                    href={`/tags/${tag}`}
                    class="bg-orange-500 text-white px-2 py-1 rounded-md hover:bg-orange-600 transition"
                  >
                    {tag}
                  </a>
                ))}
              </div>
              <p class="text-gray-300 line-clamp-3 overflow-hidden">
                {post.frontmatter.description + "..."}
              </p>
              <a
                href={post.url}
                class="text-orange-500 hover:underline hover:text-orange-600 font-medium"
              >
                Leer más →
              </a>
            </div>
          </article>
        ))
      }
    </div>
  </main>
</LayoutBlog>
