---
import Tooltip from "../ui/Tooltip.astro";

interface NavItem {
  title: string;
  label: string;
  url: string;
}

interface Props {
  logo: string; // Ruta de imagen
  logoAlt?: string; // Texto alternativo del logo
  brand: string; // Texto principal
  highlight: string; // Texto destacado
  navItems: NavItem[];
  githubUrl?: string; // Opcional
}

const {
  logo,
  logoAlt = "Logo",
  brand,
  highlight,
  navItems,
  githubUrl,
} = Astro.props;

const { pathname } = Astro.url;
---

<header
  class="fixed top-0 bg-transparent flex w-full items-center justify-between sm:px-1 px-2"
>
  <div class="flex justify-center items-center md:w-50 sm:w-90 h-auto">
    <img src={logo} class="m-4 w-7 h-auto" alt={logoAlt} />
    <h2 class="my-3 text-orange-500 font-bold text-2xl">
      {brand}<span class="text-white font-bold text-2xl"> {highlight}</span>
    </h2>
  </div>

  <nav class="w-100 hidden md:flex gap-3 justify-center">
    {
      navItems.map((link) => {
        const isActive =
          link.url === "/" ? pathname === "/" : pathname.startsWith(link.url);
        return (
          <a
            class={`text-2xl ml-15 font-light block px-2 py-2 transition transform duration-300 hover:scale-110 ${
              isActive
                ? "text-orange-500 font-semibold"
                : "text-white hover:text-orange-500"
            }`}
            aria-label={link.label}
            href={link.url}
          >
            {link.title}
          </a>
        );
      })
    }
  </nav>

  {
    githubUrl && (
      <div class="flex justify-center items-center w-20 h-auto">
        <Tooltip text="Visita el repositorio del proyecto">
          <a
            class="sm:hidden md:block flex text-white"
            href={githubUrl}
            target="_blank"
          >
            <img
              src="/logos/GitHubLogo.svg"
              class="m-3 w-7"
              alt="GitHub Repo"
            />
          </a>
        </Tooltip>
      </div>
    )
  }
</header>
