---
import Logo from "../../../public/Astro_dark.svg";
import GitHubLogo from "../../../public/GitHubLogo.svg";
import MenuToggle from "../../islands/preact-islands/MenuToggle";

const { pathname } = Astro.url;
const itemsNav = [
  {
    title: "Inicio",
    label: "Inicio",
    url: "/",
  },
  {
    title: "Nosotros",
    label: "Nosotros",
    url: "#about",
  },
  {
    title: "Servicios",
    label: "Servicios",
    url: "#services",
  },
  {
    title: "Contacto",
    label: "Contacto",
    url: "#contact",
  },
  {
    title: "Blog",
    label: "Blog",
    url: "/Blog/",
  },
];
---

<header
  class="fixed top-0 bg-transparent flex w-full items-center justify-between sm:px-1 px-2"
>
  <div class="flex justify-center items-center md:w-50 sm:w-90 h-auto">
    <img src={Logo.src} class="m-4 w-7 h-auto" alt="logo" />
    <h2 class="my-3 text-orange-500 font-bold text-2xl">
      Astro<span class="text-white font-bold text-2xl"> devs</span>
    </h2>
  </div>
  <nav class="w-100 hidden md:flex gap-3 justify-center">
    {
      itemsNav.map((link: any) => {
        const isActive =
          link.url === "/" ? pathname === "/" : pathname.startsWith(link.url);
        return (
          <a
            class={`text-2xl ml-15 font-light block px-2 py-2 transition transform duration-300 hover:scale-110 ${
              isActive
                ? "text-orange-500 font-semibold"
                : "text-white hover:text-orange-500"
            }`}
            aria-label={link.label}
            href={link.url}
          >
            {link.title}
          </a>
        );
      })
    }
  </nav>
  <div class="flex justify-center items-center w-20 h-auto">
    <a
      class="sm:hidden md:block flex text-white"
      href="https://github.com"
      target="_blank"
    >
      <img src={GitHubLogo.src} class="m-3 w-7" alt="repositorio" />
    </a>
  </div>
  <MenuToggle client:load />
</header>
